<link rel="stylesheet" media="screen" href="grid-style.css">

<div class="wrapper">
        <header class="main-head">The header</header>
        <nav class="main-nav">
            <h3> Navigation Menu</h3>
            <ul>
                <li><a href="">Nav 1</a></li>
                <li><a href="">Nav 2</a></li>
                <li><a href="">Nav 3</a></li>
            </ul>
        </nav>
        <article class="content"><h1>Main article area</h1>
        <p>In this layout, we display the areas in source order for any screen less that 500 pixels wide. We go to a two column layout, and then to a three column layout by redefining the grid, and the placement of items on the grid. You could put some sick stuff in here</p></article> 
        <aside class="side">Sidebar</aside>
         <footer class="main-footer">The footer</footer>
    </div>
