<!-- Learn about this code on MDN: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Realizing_common_layouts_using_CSS_Grid_Layout -->
<link rel="stylesheet" media="screen" href="grid-style.css">

<ul class="listing">
        <li>
          <h2>Item One</h2>
          <div class="body"><p>The content of this listing item goes here.</p></div>
          <div class="cta"><a href="">Call to action!</a></div>
        </li>
         <li>
           <h2>Item Two</h2>
           <div class="body"><p>The content of this listing item goes here.</p></div>
           <div class="cta"><a href="">Call to action!</a></div>
         </li>
         <li class="wide">
           <h2>Item Three</h2>
           <div class="body"><p>The content of this listing item goes here.</p> 
           <p>This one has more text than the other items.</p>
           <p>Quite a lot more</p>
           <p>Perhaps we could do something different with it?</p></div>
           <div class="cta"><a href="">Call to action!</a></div>
          </li>
          <li>
           <h2>Item Four</h2>
           <div class="body"><p>The content of this listing item goes here.</p></div>
           <div class="cta"><a href="">Call to action!</a></div>
          </li>
           <li>
           <h2>Item Five</h2>
           <div class="body"><p>The content of this listing item goes here.</p></div>
            <div class="cta"><a href="">Call to action!</a></div>
          </li>
      </ul>
      